<mat-card class="organization-container">
    <mat-card-header>
        <mat-card-title>
            <h3>{{organizationModel.name}}</h3>
        </mat-card-title>
        <mat-card-subtitle>{{getOrganizationType()}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{organizationModel.description}}
    </mat-card-content>
    <mat-card-actions>
        <button (click)="observeOrganization()" *ngIf="userService.isLoggedIn() && organizationModel.isObserving === false" mat-raised-button color="primary">Obserwuj</button>
        <button (click)="stopObserveOrganization()" *ngIf="userService.isLoggedIn() && organizationModel.isObserving" mat-raised-button color="warn">Przestań obserwować</button>
    </mat-card-actions>
</mat-card>