.container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}
mat-form-field {
    margin: 5px 0;
    width: 100%;
}
mat-checkbox {
    margin: 5px 0;
}
h2 {
    text-align: center;
}