<div class="container">
  <form #newEventForm="ngForm" (ngSubmit)="onSubmit(newEventForm)">
    <mat-form-field>
      <input matInput placeholder="Nazwa" [(ngModel)]="newEventModel.name"
             type="text" name="name" #nazwa="ngModel" required>
      <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        Nazwa jest wymagana
      </mat-error>
    </mat-form-field><br />
    <mat-form-field>
      <input matInput placeholder="Opis" [(ngModel)]="newEventModel.description"
             type="text" name="description" #description="ngModel" required>
      <mat-error *ngIf="description?.invalid && (description?.dirty || description?.touched)">
        Opis jest wymagany
      </mat-error>
    </mat-form-field><br />

    <mat-form-field>
      <input matInput placeholder="Data rozpoczęcia" [matDatepicker]="startDatePicker"
             [(ngModel)]="newEventModel.startDate" #startDate="ngModel" name="startDate" required>
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker [touchUi]="touch"></mat-datepicker>
      <mat-error *ngIf="startDate?.invalid && (startDate?.dirty || startDate?.touched)">
        Data rozpoczęcia jest wymagana
      </mat-error>
    </mat-form-field><br />

    <mat-form-field>
      <input matInput placeholder="Data rozpoczęcia" [matDatepicker]="endDatePicker"
             [(ngModel)]="newEventModel.endDate" #startDate="ngModel" name="endDate" required>
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker [touchUi]="touch"></mat-datepicker>
      <mat-error *ngIf="endDate?.invalid && (endDate?.dirty || endDate?.touched)">
        Data rozpoczęcia jest wymagana
      </mat-error>
    </mat-form-field>

    <div class="text-center">
      <button type="submit" mat-raised-button color="primary" [disabled]="!newEventForm.form.valid">
        Utwórz
      </button>
    </div>
  </form>
</div>
