.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

mat-form-field {
  margin: 5px 0;
  width: 100%;
}

.event-container {
  max-width: 900px;
  margin: 20px auto;
}

.tab-header {
  margin-top:20px;
}
